/* Variables */

$color-dark: #000000;
$color-light: #eff2f5;
$color-footer: #D0DBE1;

/* Global */

body {
  background-image: url("../images/diamond_upholstery.png");
}

/* Navigation */

/* Carousel */

.carousel-inner,
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

/* Products */

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

/* Highlights */

/* Offert */

/* Contact */

.contact {
  background-color: $color-light;
}

.socials {
  list-style-type: none;
  padding: 0;

  li {
    font-size: 0;
    margin-right: 10px;
  }

  i {
    font-size: 16px;
    color: $color-dark;
  }
}

.email {
  text-decoration: none;
}

@media (max-width: 767px) {
  .contact .box {
    margin-bottom: 50px !important;
  }
}

/* Footer */

footer {
  background-color: $color-footer;

  .links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .links li {
    margin-right: 10px;
  }

  .links a {
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  footer * {
    text-align: center;
  }

  footer .logo {
    margin-bottom: 1rem;
  }
}

/* Additional styling ~ RWD */

.products {
  .brands {
    margin-bottom: 48px;

    h2 {
      margin-bottom: 24px;
    }
  }

  .cards {
    h2 {
      margin-bottom: 24px;
    }

    .card-container {
      margin-bottom: 48px;
    }

    .card-container:last-child {
      margin-bottom: 0;
    }
  }
}

.highlights {
  .card-container {
    margin-bottom: 48px;
  }

  .card-container:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .highlights {
    .card-container {
      margin-bottom: 24px;
    }
  }

  .offert {
    padding-bottom: 6rem !important;
  }
}

/* Splash && Navbar */

.navbar {
  background-color: #00000077;
  padding-top: 0;
  padding-bottom: 0;
  height: 60px;
  transition: all .4s ease;

  .container {
    height: 100%;
    max-width: 100vw;
    padding: 0;
  }

  .navbar-brand {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand,
  .nav-link {
    color: $color-light !important;
  }

  .btn-group,
  .btn {
    border-radius: 0;
    background-color: unset;
    border: unset;
  }

  a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  a,
  button {
    background-color: #00000000;
    transition: all .4s ease;
    position: relative;
  }

  a:hover,
  button:hover {
    background-color: #000000aa;
  }

  a::before,
  .btn::before,
  .navbar-toggler::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    width: 0;
    background-color: #fad390;
    filter: blur(3px);
    transition: all .4s ease;
    opacity: 0;
  }

  a:hover::before,
  .btn:hover::before,
  .navbar-toggler:hover::before {
    height: 3px;
    width: 95%;
    opacity: 0.7;
    bottom: -2px;
  }

  .dropdown-menu {
    display: block;
    max-height: 0;
    padding: 0;
    background-color: #0a3d62;
    margin-top: 0;
    border-radius: 0;
    transition: all .4s ease;
    overflow: hidden;

    &.show {
      max-height: 120px;
    }

    a {
      color: $color-light;
    }

    a:hover {
      background-color: #3c6382;
    }
  }

  .navbar-toggler {
    color: $color-light;
    border-radius: 0;
    font-size: 24px;
    border: none;
    height: 100%;
  }

  .navbar-toggler-icon {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0;
  }

  .btn-group {
    display: flex;
    flex-direction: column;

    .fa-solid {
      margin-right: 10px;
    }
  }

  .navbar-collapse {
    background-color: #00000077;
    padding-bottom: 30px;
    transition: all .4s ease;
  }

  .navbar-collapse>* {
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-link,
  .btn {
    padding: 20px 0;
  }
}

.navbar.bg-dark {
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;

  .navbar-collapse {
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
  }
}

@media (min-width: 768px) {
  .navbar {
    align-items: flex-start;

    .container {
      max-width: 720px;
      padding-right: var(--bs-gutter-x, .75rem);
      padding-left: var(--bs-gutter-x, .75rem);
    }

    .container>* {
      height: 100%;
    }

    #mobile-menu ul {
      height: 100%;
    }

    .btn-group {
      display: inline-flex;
      flex-direction: row;
    }

    .btn-group,
    .btn {
      height: 100%;
    }

    .navbar-collapse {
      background-color: #00000000;
      padding-bottom: 0;
    }

    .nav-link,
    .btn {
      padding: 0 10px !important;
    }

    .navbar-collapse>* {
      width: auto !important;
    }

    .navbar-collapse>ul {
      margin-left: 0 !important;
      margin-right: auto !important;
    }

    .navbar-collapse>.btn-group {
      margin-left: auto !important;
      margin-right: 0 !important;
    }
  }

}

@media (min-width: 992px) {
  .navbar {

    .container {
      max-width: 960px;
    }

    .nav-link,
    .btn {
      padding: 0 20px !important;
    }

  }
}

@media (min-width: 1200px) {
  .navbar {

    .container {
      max-width: 1140px;
    }

  }
}

@media (min-width: 1400px) {
  .navbar {

    .container {
      max-width: 1320px;
    }

  }
}

/* Carousel */

.carousel-control::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100vw / 6);
  z-index: -1;
  background: rgb(0, 0, 0);
}

.carousel-control-prev::before {
  left: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.carousel-control-next::before {
  right: 0;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}

/* Captions */

.carousel-caption {

  padding-bottom: 100px;

  h4 {
    margin-bottom: 30px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: 300;
    text-shadow: rgb(68, 68, 68) 1px 0px 0px, rgb(68, 68, 68) 0.540302px 0.841471px 0px, rgb(68, 68, 68) -0.416147px 0.909297px 0px, rgb(68, 68, 68) -0.989992px 0.14112px 0px, rgb(68, 68, 68) -0.653644px -0.756802px 0px, rgb(68, 68, 68) 0.283662px -0.958924px 0px, rgb(68, 68, 68) 0.96017px -0.279415px 0px;
  }

  h3 {
    margin-bottom: 40px;
    font-size: 70px;
    letter-spacing: 3px;
    text-shadow: rgb(68, 68, 68) 1px 0px 0px, rgb(68, 68, 68) 0.540302px 0.841471px 0px, rgb(68, 68, 68) -0.416147px 0.909297px 0px, rgb(68, 68, 68) -0.989992px 0.14112px 0px, rgb(68, 68, 68) -0.653644px -0.756802px 0px, rgb(68, 68, 68) 0.283662px -0.958924px 0px, rgb(68, 68, 68) 0.96017px -0.279415px 0px;
  }

}

/* Buttons */

/* Credits for Temani Afif */
/* https://codepen.io/t_afif/pen/VwxbdpV */

.custom-btn {
  --b: 2px;
  /* border thickness */
  --s: 5px;
  /* size of the corner */
  --c: #f39c12;

  padding: calc(.5em + var(--s)) calc(1em + var(--s));
  color: var(--c);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--c) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .2em;
}

.custom-btn:hover,
.custom-btn:focus-visible {
  --_p: 0px;
  outline-color: var(--c);
  outline-offset: .05em;
  color: var(--c);
}

.custom-btn:active {
  background: var(--c);
  color: #fff;
}

.custom-btn {
  font-family: system-ui, sans-serif;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  border: none;
  margin: .1em;
}

.btn {
  border-radius: 0;
}

.cards {
  .card-image {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;

    &::after {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      box-shadow: inset 20px 20px 20px #444;
      opacity: .5;
      z-index: 10;
      transition: all .4s ease;
      border-radius: 9px 0 0 0;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      transition: all .4s ease;
    }
  }

  .card-image:hover {
    &::after {
      box-shadow: inset 0px 0px 0px #444;
    }

    img {
      transform: scale(110%);
    }
  }

  .card-body {
    background-color: #ffeaa7;
    text-align: center;

    h5 {
      color: #444;
    }
  }

  .card {
    overflow: hidden;
    border-radius: 10px;
    border: 2px solid #f39c12;
    box-shadow: 5px 5px 10px #4449;
    transition: all .4s ease;
  }

  .card:hover {
    box-shadow: 0 0 0 #4449;
  }
}

.highlights {

  .upper-left .card {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }

  .bottom-full .card {
    border-radius: 0 0 10px 10px;
    overflow: hidden;
  }

  .card {
    box-shadow: 5px 5px 10px #4449;
    border: 2px solid #f39c12;
    transition: all .6s ease;

    h5 {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-size: 17px;
    }
  }

  .card-container,
  .card img {
    transition: all .6s ease;
  }

  .card-body {
    opacity: 0;
    transition: all .6s ease;
  }

  .card:hover {
    box-shadow: 0 0 0 #4449;

    img {
      filter: brightness(50%);
    }

    .card-body {
      opacity: 1;
    }
  }
}

@media (min-width: 768px) {
  .highlights {
    .upper-left .card {
      border-radius: 10px 0 0 0;
    }

    .upper-right .card {
      border-radius: 0 10px 0 0;
      overflow: hidden;
    }
  }

  .highlights.upper-left {
    .upper-left {
      width: 60%;

      .card img {
        height: 350px;
      }
    }

    .upper-right {
      width: 40%;

      .card img {
        height: 350px;
      }
    }

    .bottom-full {
      .card img {
        height: 250px;
      }
    }
  }

  .highlights.upper-right {
    .upper-left {
      width: 40%;

      .card img {
        height: 350px;
      }
    }

    .upper-right {
      width: 60%;

      .card img {
        height: 350px;
      }
    }

    .bottom-full {
      .card img {
        height: 250px;
      }
    }
  }

  .highlights.bottom-full {
    .upper-left {
      width: 50%;

      .card img {
        height: 250px;
      }
    }

    .upper-right {
      width: 50%;

      .card img {
        height: 250px;
      }
    }

    .bottom-full {
      .card img {
        height: 350px;
      }
    }
  }
}

.brands {
  .list-group {
    box-shadow: 5px 5px 10px #4449;
    border-radius: 10px;
    border: 2px solid #f39c12;
    overflow: hidden;

    .list-group-item {
      background-color: #ffeaa7;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      padding: 15px 0;
      font-weight: 500;
      color: #444;
      letter-spacing: 2px;
      transition: all .4s ease;
      border-radius: 0;
      border-right: 1px solid #f39c12;

      &:hover {
        background-color: #f39c1277;
      }

      &:last-child {
        border-right: 0px solid #f39c12;
      }
    }
  }
}

@media (min-width: 992px) {
  .brands {
    .list-group {

      .list-group-item {
        border-bottom: 1px solid #f39c12;
        border-right: 0px solid #f39c12;
      }

      .list-group-item:last-child {
        border-bottom: 0px solid #f39c12;
      }
    }
  }
}

.offert {
  .col-md-4 {
    perspective: 500px;
    perspective-origin: 50% 50%;
    transition: all .2s ease;

    .card {
      filter: drop-shadow(5px 5px 10px #4449);
      transition: inherit;
    }
  }
}

@media (min-width: 768px) {

  .offert.card-left {

    .left-container {
      width: 40%;
      transform: scale(120%);
    }

    .middle-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(-40deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }
    }

    .right-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(-30deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }
    }

  }

  .offert.card-middle {

    .left-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }
    }

    .middle-container {
      width: 40%;
      transform: scale(120%);
    }

    .right-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(-40deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }

    }

  }

  .offert.card-right {

    .left-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(30deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }
    }

    .middle-container {
      width: 30%;

      .card {
        transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(40deg) rotateZ(0deg) translate3d(0px, 0px, 0px) skew(0deg, 0deg);
      }
    }

    .right-container {
      width: 40%;
      transform: scale(120%);
    }

  }

}